//Base styles for react 4 game

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

h1 {
  font-weight:300;
  text-transform:uppercase;
}

.row {
  .cell {
    border-radius:50%;
    display:inline-block;
    border:1px solid black;
    height:100px;
    width:100px;
    margin:5px;
    
  }

  .cell.owner0 {

  }
  .cell.owner1 {
    background-color: blue;
  }

  .cell.owner2 {
    background-color: red;
  }

}

.generate {
  text-align: center;

  p {
    padding:20px;
  }
  .board-link {
    padding: 20px;
    width:500px;
  }
}